include version.meta
include README.md
include requirements.txt
global-include model_signature.json
global-include model_perturbation.json
global-include requirements.txt
global-include *.gitkeep
global-exclude *.py[cod]
global-exclude *.log
global-exclude tests
global-exclude */mlruns/
include mlmonitor/models/model_churn/xgboost-model-bst
include mlmonitor/models/model_churn/xgboost-model-sk
include mlmonitor/models/model_churn/xgboost-model-bst
include mlmonitor/src/logs
include mlmonitor/custmonitor/README.md
include mlmonitor/version.meta
include mlmonitor/MANIFEST.in
include mlmonitor/credentials_example.cfg
exclude __pycache__
exclude mlmonitor/credentials.cfg
exclude notebooks
exclude mlops_orchestrator
exclude documentation
